html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

html,body {
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.section{
    &__title{
        margin-bottom: 50px;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
    }
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

.header{
    background-color: #151515;

    &-main{
        background-color: transparent;
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
    }

    &__inner{
        padding-top: 40px;
        padding-bottom: 45px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.menu{
    &__list{
        display: flex;
        gap: 35px;

        &-link{
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

.main{
    flex-grow: 1;
}

.top{
    color: #fff;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;

    &__link{
        background-color: #151515;
        padding: 23px;
        width: 430px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 700;
    }
}

.title{
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.swiper{
    &::after{
        content: '';
        background: rgba(21, 21, 21, .3);
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    &-slide{
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &-pagination-bullet{
        width: 120px;
        height: 3px;
        background-color: #151515;
        border-radius: 0;
        opacity: 1;
        margin: 0 15px;

        &-active{
            height: 6px;
            background-color: #fff;
        }
    }
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 50px;
}

.why-lease{
    padding: 150px 0;

    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        text-align: center;
    }

    &__item{
        &-img{
            margin-bottom: 30px;
        }
        
        &-title{
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: 700;
        }


        &-text{
        text-align: left;}
    }
}

.how-does{
    padding-bottom: 150px;

    &__inner{
        max-width: 600px;
        margin: 0 auto;
    }

    &__title{
        font-size: 24px;
        font-weight: 700;
        padding-top: 50px;
    }

    &__list{
        padding: 50px 0 70px;
        counter-reset: myCounter;
    }

    &__item{
        list-style-type: none;
        width: 270px;
        min-height: 63px;
        position: relative;
        margin-left: auto;
        box-sizing: content-box;
        padding: 19px 0 19px 240px;

        & + &{
            margin-top: 40px;
        }

        &::before{
            counter-increment: myCounter;
            content: counter(myCounter);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0066ff;
            font-size: 48px;
            font-weight: 700;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            color: #fff;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.video{
    padding-bottom: 150px;

    &__title{
        margin-bottom: 20px;
    }

    &__text{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 50px;
        text-align: center;
    }

    &__content{
        margin: 0 auto;
        display: block;
    }
}

.important{
    padding-bottom: 150px;

    &__title{
        margin-bottom: 20px;
    }

    &__text{
        margin: 0 auto 50px;
        max-width: 580px;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__item-img{
        margin-bottom: 20px;
    }
}

.footer{
    background-color: #151515;
    padding: 50px 0 32px 0;
    color: #fff;

    &__menu{
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;

        &-list{
            max-width: 250px;
        }

        &-title{
            font-size: 24px;
            font-weight: 700;
            padding-bottom: 20px;
        }

        &-item{
            & + &{
                padding-top: 20px;
            }
        }
    }

    &__copy{
        max-width: 800px;
        margin: 0 auto 30px;
        text-align: center;
        font-size: 12px;
    }
}

.app{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.copy__nav{
    &-list{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}